@import url('https://fonts.googleapis.com/css?family=Roboto');
    html{
        scroll-behavior: smooth;
    }
    body{
        padding: 0;
        margin: 0;
        font-family:  'Roboto', sans-serif;
    }
    .navbar{
        position: fixed !important;
        width: 100%;
        z-index: 100;
    }
    .navbar .navbar-brand>h3{
    font-weight: 650;
    font-size: 1.7rem;
    font-style: oblique;
    color: #BCC5D5;
   }
    .navbar .navbar-brand>h3:hover{
    text-shadow: 10px black;
   }
   .nav_items .nav_item>a{
    font-weight: 400;
    font-style: italic;
    color: #CCE1E9 !important;
    }
    .nav_items .nav_item>a:hover{
    color: black !important;
    }
    main{
        padding-top: 3.6rem;
    }
    footer{
        padding: 2rem;
        background: linear-gradient(to top,rgba(90, 201, 235, 0.4) 100%, transparent), url('../image/freedom.jpg') left 10% bottom 60%/cover no-repeat border-box,#ff4545;
        background-position: center;
        background-size: cover;
        color: aliceblue;
    }
    .footer_link>a{
        text-decoration: none;
        color: aliceblue;
    }
    .footer_link>a:hover{
        color: aliceblue;
        text-decoration: none;
    }
    .footer_link .light{
        border-bottom: 1px solid aliceblue;
    }